<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wiki</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="content">
        <div id="wiki" class="content-inner">
            <div class="container">
                <a class="random" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Click here for a random article</a>
                <div>
                    <input type="text" v-model="query" v-on:keyup.enter="search">
                </div>
                <div class="list-group">
                    <a class="list-group-item" v-for="page in pages" href="https://en.wikipedia.org/?curid={{page.pageid}}" target="_blank">
                        <h4 class="list-group-item-heading">{{page.title}}</h4>
                        <p class="list-group-item-text">{{page.extract}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>